<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil Personal</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
  
    <header>
        <div class="container">
             <h1>Contactame </h1>
            <p>los datos del contacto</p>
            <div class="button-container">
                <link rel="stylesheet" href="index2.css">
                <a href="index.html" class="button">Volver</a>
        
            </div> 
        </div>
    </header>

    <section id="about">
        <div class="container">
            <!DOCTYPE html>
            <html lang="es">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Mis Estudios</title>
                <link rel="stylesheet" href="/static/index3.css">
            </head>

            <!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="contacto.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Contacto</title>
    
</head>
<body>
    
    <div class="contact-form">
        <h2>Formulario de Contacto</h2>
        <form action="procesar_contacto.php" method="post">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="email">Correo Electrónico:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="asunto">Asunto:</label>
                <input type="text" id="asunto" name="asunto" required>
            </div>
            <div class="form-group">
                <label for="mensaje">Mensaje:</label>
                <textarea id="mensaje" name="mensaje" required></textarea>
            </div>
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Botones con Enlaces</title>
                <link rel="stylesheet" href="/static/index2.css">
            </head>
            <div class="form-group">
                <a href="enviado.html" class="button">Enviar</a>
            </div>
        </form>
    </div>
</body>
</html>

    