<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil Personal</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
  
    <header>
        <div class="container">
             <h1>Estudios </h1>
            <p>Datos del Propietario</p>
            <div class="button-container">
                <link rel="stylesheet" href="index2.css">
                <a href="index.html" class="button">Volver</a>
        
            </div> 
        </div>
    </header>

    <section id="about">
        <div class="container">
            <!DOCTYPE html>
            <html lang="es">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Mis Estudios</title>
                <link rel="stylesheet" href="index3.css">
            </head>
            <center>
            <body>
                <div class="container">
                    
                    <table class="personal-info">
                        <thead>
                            <h1>ENVIADO CON EXITO</h1>
                          
                        </thead>
                        </table>
                        </div>
                        </body>
                    </center>
                     