<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil Personal</title>
    <link rel="stylesheet" href="/static/index.css">
    
</head>
<body>
  
    <header>
        <div class="container">
             <h1>Estudios </h1>
            <p>Datos del Propietario</p>
            <div class="button-container">
                <link rel="stylesheet" href="index2.css">
                <a href="index.html" class="button">Volver</a>
        
            </div> 
        </div>
    </header>

    <section id="about">
        <div class="container">
            <!DOCTYPE html>
            <html lang="es">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Mis Estudios</title>
                <link rel="stylesheet" href="index3.css">
            </head>
            <body>
                <div class="container">
                    <h1>Mis Estudios</h1>
                    <table class="personal-info">
                        <thead>
                            <tr>
                                <th>Categoría</th>
                                <th>Detalle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Primaria</td>
                                <td>Colegio Comfacesar "Rodolfo Campo Soto"</td>
                            </tr>
                            <tr>
                                <td>Bachillerato</td>
                                <td>
                                    Instituto Técnico Industrial Pedro Castro Monsalvo</td>
                            </tr>
                            <tr>
                                <td>Tecnicos</td>
                                <td>Tecnico en auxiliar de diseño grafico uparsistem</td>
                            </tr>
                            <tr>
                                <td>Tecnologo</td>
                                <td>Analisis y desarrollo de sotwfare (en proceso)</td>
                               <tr> <td>Carrera</td>
                                <td>N/A</td>
                                </tr>
                            
                          
                           
                        </tbody>
                    </table>
                </div>
            </body>
            </html>
            
        </div>
    </section>