<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil Personal</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
  
    <header>
        <div class="container">
             <h1>Habilidades </h1>
            <p>Datos del Propietario</p>
            <div class="button-container">
                <link rel="stylesheet" href="index2.css">
                <a href="index.html" class="button">Volver</a>
        
            </div> 
        </div>
    </header>

    <section id="about">
        <div class="container">
            <!DOCTYPE html>
            <html lang="es">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Mis Habilidades</title>
                <link rel="stylesheet" href="index3.css">
            </head>
            <body>
                <div class="container">
                    <h1>Mis Habilidades</h1>
                    <table class="personal-info">
                        <thead>
                            <tr>
                                <th>Categoría</th>
                                <th>Detalle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Figma</td>
                                <td>Se utilizar el aplicativo web bien y me considero un 6.5 al utilizarlo</td>
                            </tr>
                            <tr>
                                <td>Visual Studio Code</td>
                                <td>Se Manejar Este Metedo De Codificacion Muy bien Y me considero un 8 al utilizarlo</td>
                            </tr>
                            <tr>
                                <td>Python</td>
                                <td>Soy Muy Regular Al Utilizarlo Pero Sigo Practicando Para Mejorar, Me considero un 5 al Utilizarlo</td>
                            </tr>
                            <tr>
                                <td>Javascrip</td>
                                <td>Me considero bueno al utilizarlo y me daria una calificacion de 7</td>
                            
                          
                           
                        </tbody>
                    </table>
                </div>
            </body>
            </html>
            
        </div>
    </section>