<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil Personal</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Santiago Molina</h1>
            <p>Estudiante del Sena | Aux.Diseñador Gráfico</p>
        </div>
    </header>

    <section id="about">
        <div class="container">
            <h2>Sobre Mí</h2>
            <p>Hola, soy un desarrollador web con experiencia en diseño y desarrollo de aplicaciones web. Me apasiona crear soluciones innovadoras y eficaces para problemas complejos.</p>
        </div>
    </section>

    <center><section id="portfolio">
     <div class="container">
            <h2>Enlaces</h2>
            <html lang="es">
               
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Botones con Enlaces</title>
    <link rel="stylesheet" href="index2.css">
</head>
          <center> <div class="button-container">
                <a href="portafolio.html" class="button">Portafolio</a>
                <a href="Habilidades.html" class="button">Habilidades</a>
                <a href="Estudios.html" class="button">Estudios</a>
                <a href="contacto.html" class="button">Contacto</a>
            </div> </center>
            <!-- Agrega más proyectos aquí -->
        </div>

    </section>
</center>


    <footer>
        <div class="container">
      
        </div>
    </footer>
</body>
</html>
