<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil Personal</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
  
    <header>
        <div class="container">
             <h1>Portafolio </h1>
            <p>Datos del Propietario</p>
            <div class="button-container">
                <link rel="stylesheet" href="/static/index2.css">
                <a href="index.html" class="button">Volver</a>
        
            </div> 
        </div>
    </header>

    <section id="about">
        <div class="container">
            <!DOCTYPE html>
            <html lang="es">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Mi Información Personal</title>
                <link rel="stylesheet" href="/static/index3.css">
            </head>
            <body>
                <div class="container">
                    <h1>Información Personal</h1>
                    <table class="personal-info">
                        <thead>
                            <tr>
                                <th>Categoría</th>
                                <th>Detalle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nombre</td>
                                <td>Santiago Molina Quintero</td>
                            </tr>
                            <tr>
                                <td>Edad</td>
                                <td>18 años</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>smoquimolina@gmail.com</td>
                            </tr>
                            <tr>
                                <td>Teléfono</td>
                                <td>3052017829</td>
                            </tr>
                            <tr>
                                <td>Dirección</td>
                                <td>Conjunto cerrado la Fontana</td>
                            </tr>
                            <tr>
                                <td>Ocupación</td>
                                <td>Aux.diseñador Grafico y Estudiante del sena</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </body>
            </html>
            
        </div>
    </section>